{% extends 'base.html' %}

{% load static %}

{% block title %} Neuro kitchen {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block content %}


  <form action="{% url 'home' %}" method="GET">
    <select class="animated-select" id="select-lang" name="lang">   
      <option value="ua">Українська</option>
      <option value="en">English</option>
      <option value="kz">Қазақша</option>
      <option value="de">Deutsch</option>
      <option value="pl">Polski</option>
    </select>
    <button>Save</button>
  </form>
  


  
<div class="input-container">
    <div class="wooden-border">
      <div class="golden-border">
        <form action="{% url 'gpt_chef' %}" method="POST">     
          {% csrf_token %}
          <input type="text" name="Ingredients_field" class="border-rgb-white" placeholder="Enter a recipe name"/>
          <button type="submit">Enter</button>
        </form>
      </div>
    </div>
  </div>

<div class="result-container">
  <h2>{{prescription}}</h2>
</div>

 



{% endblock %}